*.o
*.a
*.so
*.dll
*.dylib
_obj
_test
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*.out
coverage.*
*.coverprofile
profile.cov
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
!.gitkeep
Thumbs.db
.DS_Store
__MACOSX/
*.cert
*.key
*.swp
.idea
out/
output/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.VSCodeCounter
*.iws

# Project
_*
/vendor/
/Godeps/
go.work
go.work.sum
.env
bin/
config/
tmp/
log/
logs/
.ssh/
